p {color:red; text-align:center}
h1 {color:red; text-align:center}
body {background-color:black}
a {padding:10px}
#link {padding:10px;font-size: 20px}
h2 {color:red}
dt {color:red;font-size: 24px;text-decoration: underline}
dd {color:red;font-size: 18px}
.flexbox-container {display: flex;justify-content: space-between}
.item-1 {padding-left: 150px}
.item-2 {padding-right: 250px}
#video-link {text-align: center}
img {display: block;margin-left: auto;margin-right: auto}