/* Setting up the grid */
.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    padding: 0;
    margin: 0;
}
.container > div {
    text-align: center;
    font-size: 1.25em;
}

/* Menu Bar */
.item1 {
    grid-row: 1 / span 12;
    background-color: #212121;
}

.navbar1 {
    list-style-type: none;
    text-align: left;
    padding-left: 2em;
    position: static;
}

li a:hover,
.active {
    color: #d27845;
}

/* General <body> css */
body {
    margin: 0;
    padding: 0;
}

/* Main Content Area */
.item2,
body {
    background-color: #150f0a;
}

/* Sets background for main content area */
.item3 {
    background-image: url(/images/About%20background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1,
h4,
h5,
h6,
h4 > a {
    color: #fcedc8;
}

.footer > a,
.item3 > a {
    text-decoration: none;
    padding-left: 10px;
}

/* Images */
.bio {
    display: flex;
    height: 352px;
}

.bio:hover {
    border: 0.5px solid #fcedc8;
}

/* Footer & Social Links */
.footer > a > img {
    width: 35px;
}

.footer > a > img:hover {
    zoom: 150%;
}
