/* Setting up the grid */
.container {
    display: grid;
    grid-template-columns: 0.75fr 6fr;
    padding: 0;
    margin: 0;
}
.container > div {
    font-size: 1.25em;
}

/* Menu Bar */
.item1 {
    position: sticky;
    grid-row: 1 / span 3;
    background-color: #212121;
}

.navbar1 {
    list-style-type: none;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
}

.navbar1 > a:hover,
.navbar1 > .active {
    color: #d27845;
}

.navbar1 > a {
    position: sticky;
    display: block;
    margin-top: 1em;
    text-decoration: none;
    color: white;
}

/* General <body> css */
body {
    margin: 0;
    padding: 0;
}

/* Main Content Area */
.item2,
body {
    background-color: #150f0a;
}

h1,
h4,
h4 > a {
    text-align: center;
    color: #fcedc8;
}

.item2,
.footer {
    text-align: center;
}

.item3 {
    background-image: url("/images/About%20background.jpg");
    background-size: cover;
}

.column {
    float: left;
    width: 20%;
    margin-bottom: 4px;
    margin-left: 3em;
    padding: 0 2px;
}

.shelf {
    padding: 0;
}

.shelf::after,
.item3::after {
    content: "";
    clear: both;
    display: table;
}

.title,
h2 {
    color: #fcedc8;
    text-shadow: 2px 2px black;
}

.title {
    font-size: 1.25em;
}

.faceCard > a > img {
    margin-top: 1.91em;
    height: 420px;
    width: 300px;
    border-radius: 5px;
    opacity: 0.8;
    transition: 0.3s;
}

.faceCard > a > img:hover {
    border: 2px solid #d27845;
    transition: 0.3s;
    border-radius: 50px;
    opacity: 1;
}

/* Buttons */
.button {
    background-color: transparent;
    border: 2px solid #fcedc8;
    border-radius: 5px;
    color: #fcedc8;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    transition-duration: 0.5s;
    cursor: pointer;
    margin-bottom: 2em;
}

.button:hover {
    color: #150f0a;
    background-color: #fcedc8;
    border-radius: 25px;
}

/* Footer & Social Links */
.footer > a {
    text-decoration: none;
    padding-left: 10px;
}

.footer > a > img {
    width: 35px;
    margin-bottom: 1.6em;
}

.footer > a > img:hover {
    zoom: 150%;
}

@media only screen and (max-width: 768px) {
    .item1 {
        grid-area: 1 / span 6;
    }

    .item2 {
        grid-area: 2 / span 6;
    }

    .item3 {
        grid-area: 3 / span 6;
    }

    .footer {
        grid-area: 4 / span 6;
    }

    iframe {
        margin: auto;
        max-width: 90%;
        height: 50%;
        margin-bottom: 4em;
    }

    .footer > a > img:hover {
        zoom: 100%;
    }

    h1 {
        font-size: 1.5em;
        margin-left: 1em;
        margin-right: 1em;
    }

    h4 {
        font-size: 0.9em;
        margin-left: 1.5em;
        margin-right: 1.5em;
    }

    #menuPic {
        display: none;
    }

    .navbar1 > a {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }

    .hide {
        display: none;
    }

    #bottomSpacer {
        margin-bottom: 0.4em;
    }

    #hide {
        display: none;
    }

    #button1 {
        color: white;
        text-decoration: none;
        font-size: 2em;
        margin-left: 0.25em;
    }

    .column {
        width: 85%;
        display: block;
    }

    .faceCard > a > img {
        opacity: 1;
    }
}

@media only screen and (min-width: 769px) {
    #button1 {
        display: none;
    }

    #hide {
        display: block;
    }
}

/*@media only screen and (min-width: 992px) {
    body {
        background-color: red;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        background-color: blue;
    }
}*/
