/* Setting up the grid */
.container {
    display: grid;
    grid-template-columns: 0.75fr 6fr;
    padding: 0;
    margin: 0;
}
.container > div {
    font-size: 1.25em;
}

/* Menu Bar */
.item1 {
    position: sticky;
    grid-row: 1 / span 3;
    background-color: #212121;
}

.navbar1 {
    list-style-type: none;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
}

.navbar1 > a:hover,
.navbar1 > .active {
    color: #d27845;
}

.navbar1 > a {
    position: sticky;
    display: block;
    margin-top: 1em;
    text-decoration: none;
    color: white;
}

/* General <body> css */
body {
    margin: 0;
    padding: 0;
}

/* Main Content Area */
.item2,
body {
    background-color: #150f0a;
}

h1,
h4,
h4 > a {
    text-align: center;
    color: #fcedc8;
}

.item2,
.footer {
    text-align: center;
}

/* Main Content Area */
.item3 {
    background-color: #d27845;
}

.item3 > h1,
.item3 > h4 {
    text-align: justify;
    color: #150f0a;
}

.item3 > h1 {
    margin-left: 1.5em;
}

.item3 > h4 {
    margin-left: 7em;
    margin-right: 7em;
}

#headshot,
#emily {
    margin-top: 2em;
    margin-left: 30em;
    border-radius: 10px;
}

#bottomSpacer {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Footer & Social Links */
.footer > a {
    text-decoration: none;
    padding-left: 10px;
}

.footer > a > img {
    width: 35px;
    margin-bottom: 1.6em;
    transition: 0.3s;
}

.footer > a > img:hover {
    zoom: 150%;
}

#myBtn {
    display: none;
}

@media only screen and (max-width: 768px) {
    .item1 {
        grid-area: 1 / span 6;
    }

    .item2 {
        grid-area: 2 / span 6;
    }

    .item3 {
        grid-area: 3 / span 6;
    }

    .footer {
        grid-area: 4 / span 6;
    }

    .footer > h4 {
        text-align: center;
    }

    .footer > a > img:hover {
        zoom: 100%;
    }

    h1 {
        font-size: 1.5em;
        margin-left: 1em;
        margin-right: 1em;
    }

    h4 {
        text-align: justify;
        font-size: 0.9em;
        margin-left: 1.5em;
        margin-right: 1.5em;
    }

    #headshot {
        margin-left: 2.5em;
    }

    #menuPic {
        display: none;
    }

    .navbar1 > a {
        margin-top: 0.37em;
        margin-bottom: 0.38em;
    }

    .hide {
        display: none;
    }

    #hide {
        display: none;
    }

    #button1 {
        color: white;
        text-decoration: none;
        font-size: 2em;
        margin-left: 0.25em;
    }

    .item3 > h4 {
        margin-left: 3em;
        margin-right: 3em;
    }

    #emily {
        margin-top: 2em;
        margin-left: 1.7em;
    }

    /* Go To Top Button */
    #myBtn {
        display: none;
        position: fixed;
        bottom: 50px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #344d30;
        color: #fcedc8;
        cursor: pointer;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        opacity: 0.9;
        transition: 0.3s;
    }

    #myBtn:hover {
        background-color: #d27845;
        color: #fcedc8;
    }
}

@media only screen and (min-width: 769px) {
    #button1 {
        display: none;
    }

    #hide {
        display: block;
    }
}
