h1 {
    color: #00d0ff;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px
}

body {background-color: #333330;}

a:link {color: #ffdd00}

a:visited {color: #ffffff}

a:hover {color: #00d0ff}

img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

a#comm {
    color: #00d0ff;
    font-size: 16px;
    text-align: center;
}

#name {
    padding-left: 95px;
    padding-bottom:20px;
    padding-top:20px;
}

dd {
    color: #ffdd00;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center
}

#video-link,dt,#comm {text-align: center}

#link {
    text-decoration: underline;
    padding: 10px;
    font-size: 20px
}

a.composer {
    color: #00d0ff;
    text-decoration: underline;
    font-size: 24px;
    text-align: center
}

a#comm:hover {text-decoration: none;}

a.composer:hover {color: greenyellow}

#phil {
    color: #00d0ff;
    padding: 0px 50px;
    text-align: left;
    line-height: 2.0
}

p,h2,h4,h5,#phil-title {
    color: #00d0ff;
    text-align: center;
}

h6 {
    color:#ffdd00;
    text-align:center
}

#description {padding: 0px 50px}
